<mat-card class="device-card">
  <mat-card-header>
    <mat-card-title>{{ devicesTitleLabel }}</mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    @if (devices.length > 0) {
      <div class="device-list">
        @for (device of limitedDevices; track device.id) {
          <div class="device-item">
            <mat-icon class="device-icon" [ngClass]="getDeviceClass(device.type)">
              {{ getDeviceIcon(device.type) }}
            </mat-icon>
            <div class="device-info">
              <span class="device-name">{{ device.location }} - {{ device.name }}</span>
              <span class="device-category">{{ getCategoryText(device.category) }}</span>
            </div>
          </div>
        }
      </div>
    } @else {
      <div class="no-data">
        <p>{{ noDevicesLabel }}</p>
      </div>
    }
  </mat-card-content>
</mat-card>
